<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <title>Allayへようこそ</title>

    <link rel="stylesheet" href="/assets/stylesheets/fonts.css">
    <link rel="stylesheet" href="/assets/stylesheets/home.css">
</header>
<html>
    <body>
    <div class="inner">
        <h1>はじめまして!!Allrayへようこそ!!</h1>
        <p>Allrayは、様々な趣味・ジャンルを問わず交流できるSNSサイトです。</p>
        <p>サイトのアカウント登録はお済みですか？</p>
    </div>

<p>すでにアカウントをお持ちの方は下のリンクからログインしてください。</p>

    <div class="btn-block">
        <%= link_to "サインアップ", new_user_path %><br>
        もしくは、
        <br>
        <%= link_to "サインイン", new_session_path %>
    </div>

    </body>
</html>
