<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <title>HoYoBASEへようこそ</title>
    <link rel="stylesheet" href="/assets/stylesheets/fonts.css">
    <link rel="stylesheet" href="/assets/stylesheets/home.css">
</header>
<html>
    <body>
<h1>はじめまして!!HoYoBASEへようこそ!!</h1>
<p>HoYoBASEは、HoYoverse様のソーシャルゲームの情報交換、交流を目的とした非公式SNSサイトです。</p>
<p>サイトのアカウント登録はお済みですか？</p>

<p>すでにアカウントをお持ちの方は下のリンクからログインしてください。</p>
<div class="btn-block">
    <a class="up" href="/signup">ここからサインアップ</a>
    <br>
    もしくは、
    <br>
    <a class="in" href="/signin">ここからサインイン</a>
</div>



    </body>
</html>
