<% content_for :title, "Posts" %>

<h1>投稿一覧</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "投稿を書く", new_post_path %>
