body {
    font-family: 'MyFont';
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
}


.btn-block {
    font-family: 'MyFont';
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}