body {
    font-family: 'MyFont';
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    text-align: center;
}

.inner {
    font-family: 'MyFont';

    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}


.btn-block {
    width: 200px;
    font-family: 'MyFont';
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #fff;
    background-color: #004f4f;
}